In [1]:
import pandas as pd

In [2]:
df2 = pd.read_parquet("C:/Users/paulh/Desktop/projects/AAD/analytics-application-development-uni/Positionsdaten.parquet")

In [3]:
df2.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820858 entries, 0 to 6820857
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   KvaRechnung_ID      object
 1   KvaRechnung_Nummer  object
 2   Position_ID         object
 3   Mengeneinheit       object
 4   Menge               float64
 5   Menge_Einigung      float64
 6   EP                  float64
 7   EP_Einigung         float64
 8   Forderung_Netto     float64
 9   Einigung_Netto      float64
 10  Bezeichnung         object
 11  Bemerkung           object
dtypes: float64(6), object(6)
memory usage: 3.5 GB

In [4]:
# Schritt 1: Finde die Namen aller Spalten vom Typ 'object'
object_spalten = df2.select_dtypes(include=['object']).columns

print(f"Gefundene Object-Spalten: {list(object_spalten)}\n")

# Schritt 2: Iteriere (loope) durch diese Spalten und gib die Anzahl der Uniques aus
for spalte in object_spalten:
    # .nunique() z√§hlt die Anzahl der einzigartigen Werte in einer Spalte (Series)
    anzahl = df2[spalte].nunique()
    print(f"Spalte '{spalte}': {anzahl} einzigartige Werte")

Gefundene Object-Spalten: ['KvaRechnung_ID', 'KvaRechnung_Nummer', 'Position_ID', 'Mengeneinheit', 'Bezeichnung', 'Bemerkung']

Spalte 'KvaRechnung_ID': 868162 einzigartige Werte
Spalte 'KvaRechnung_Nummer': 866326 einzigartige Werte
Spalte 'Position_ID': 6820858 einzigartige Werte
Spalte 'Mengeneinheit': 7702 einzigartige Werte
Spalte 'Bezeichnung': 3754960 einzigartige Werte
Spalte 'Bemerkung': 138363 einzigartige Werte

In [5]:
# Deine definierte Liste von Spalten
spalten_zum_umwandeln = ['KvaRechnung_ID', 'KvaRechnung_Nummer', 'Mengeneinheit', 'Bemerkung']

# Wende .astype('category') nur auf die Spalten in dieser Liste an
df2[spalten_zum_umwandeln] = df2[spalten_zum_umwandeln].astype('category')

object_columns = df2.select_dtypes('object').columns
df2[object_columns] = df2[object_columns].astype('string')

df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820858 entries, 0 to 6820857
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   KvaRechnung_ID      category
 1   KvaRechnung_Nummer  category
 2   Position_ID         string
 3   Mengeneinheit       category
 4   Menge               float64
 5   Menge_Einigung      float64
 6   EP                  float64
 7   EP_Einigung         float64
 8   Forderung_Netto     float64
 9   Einigung_Netto      float64
 10  Bezeichnung         string
 11  Bemerkung           category
dtypes: category(4), float64(6), string(2)
memory usage: 2.3 GB

In [6]:
# Downcast integer columns
int_cols = df2.select_dtypes(include=['int64']).columns
for col in int_cols:
    df2[col] = pd.to_numeric(df2[col], downcast='integer')

# Downcast float columns
float_cols = df2.select_dtypes(include=['float64']).columns
for col in float_cols:
    df2[col] = pd.to_numeric(df2[col], downcast='float')

print("\n--- Memory Usage After Numeric Downcasting ---")
df2.info(memory_usage='deep')

--- Memory Usage After Numeric Downcasting ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820858 entries, 0 to 6820857
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   KvaRechnung_ID      category
 1   KvaRechnung_Nummer  category
 2   Position_ID         string
 3   Mengeneinheit       category
 4   Menge               float64
 5   Menge_Einigung      float64
 6   EP                  float64
 7   EP_Einigung         float64
 8   Forderung_Netto     float64
 9   Einigung_Netto      float64
 10  Bezeichnung         string
 11  Bemerkung           category
dtypes: category(4), float64(6), string(2)
memory usage: 2.3 GB

In [7]:
df2.replace('-', None, inplace=True)
df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820858 entries, 0 to 6820857
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   KvaRechnung_ID      category
 1   KvaRechnung_Nummer  category
 2   Position_ID         string
 3   Mengeneinheit       category
 4   Menge               float64
 5   Menge_Einigung      float64
 6   EP                  float64
 7   EP_Einigung         float64
 8   Forderung_Netto     float64
 9   Einigung_Netto      float64
 10  Bezeichnung         string
 11  Bemerkung           category
dtypes: category(4), float64(6), string(2)
memory usage: 2.3 GB