In [15]:
import pandas as pd

In [16]:
df = pd.read_parquet("C:/Users/paulh/Desktop/projects/AAD/analytics-application-development-uni/Auftragsdaten.parquet")

In [17]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int64
 8   Land                          868489 non-null  object
 9   PLZ_SO                        868489 non-null  object
 10  PLZ_HW                        868489 non-null  object
 11  PLZ_VN                        868489 non-null  object
 12  address1_postalcode           682089 non-null  object
 13  Schadenart_Name               868489 non-null  object
 14  Falltyp_Name                  868489 non-null  object
 15  Gewerk_Name                   868489 non-null  object
 16  Kundengruppe                  868489 non-null  object
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 888.2 MB

In [18]:
# Schritt 1: Finde die Namen aller Spalten vom Typ 'object'
object_spalten = df.select_dtypes(include=['object']).columns

print(f"Gefundene Object-Spalten: {list(object_spalten)}\n")

# Schritt 2: Iteriere (loope) durch diese Spalten und gib die Anzahl der Uniques aus
for spalte in object_spalten:
    # .nunique() z√§hlt die Anzahl der einzigartigen Werte in einer Spalte (Series)
    anzahl = df[spalte].nunique()
    print(f"Spalte '{spalte}': {anzahl} einzigartige Werte")

Gefundene Object-Spalten: ['Auftrag_ID', 'Schadensnummer', 'KvaRechnung_ID', 'KvaRechnung_Nummer', 'Land', 'PLZ_SO', 'PLZ_HW', 'PLZ_VN', 'address1_postalcode', 'Schadenart_Name', 'Falltyp_Name', 'Gewerk_Name', 'Kundengruppe', 'Handwerker_Name']

Spalte 'Auftrag_ID': 691084 einzigartige Werte
Spalte 'Schadensnummer': 579566 einzigartige Werte
Spalte 'KvaRechnung_ID': 868489 einzigartige Werte
Spalte 'KvaRechnung_Nummer': 866651 einzigartige Werte
Spalte 'Land': 4 einzigartige Werte
Spalte 'PLZ_SO': 11412 einzigartige Werte
Spalte 'PLZ_HW': 11438 einzigartige Werte
Spalte 'PLZ_VN': 9902 einzigartige Werte
Spalte 'address1_postalcode': 14599 einzigartige Werte
Spalte 'Schadenart_Name': 23 einzigartige Werte
Spalte 'Falltyp_Name': 152 einzigartige Werte
Spalte 'Gewerk_Name': 64 einzigartige Werte
Spalte 'Kundengruppe': 153 einzigartige Werte
Spalte 'Handwerker_Name': 280830 einzigartige Werte

In [ ]:
# Deine definierte Liste von Spalten
spalten_zum_umwandeln = ['Land', 'PLZ_SO', 'PLZ_HW', 'PLZ_VN', 'address1_postalcode', 
                       'Schadenart_Name', 'Falltyp_Name', 'Gewerk_Name', 'Kundengruppe', 
                       'Handwerker_Name']

# Wende .astype('category') nur auf die Spalten in dieser Liste an
df[spalten_zum_umwandeln] = df[spalten_zum_umwandeln].astype('category')

object_columns = df.select_dtypes('object').columns
df[object_columns] = df[object_columns].astype('string')

In [20]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int64
 8   Land                          868489 non-null  category
 9   PLZ_SO                        868489 non-null  category
 10  PLZ_HW                        868489 non-null  category
 11  PLZ_VN                        868489 non-null  category
 12  address1_postalcode           682089 non-null  category
 13  Schadenart_Name               868489 non-null  category
 14  Falltyp_Name                  868489 non-null  category
 15  Gewerk_Name                   868489 non-null  category
 16  Kundengruppe                  868489 non-null  category
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  category
dtypes: category(10), float64(4), int64(1), object(4)
memory usage: 353.7 MB

In [21]:
# Downcast integer columns
int_cols = df.select_dtypes(include=['int64']).columns
for col in int_cols:
    df[col] = pd.to_numeric(df[col], downcast='integer')

# Downcast float columns
float_cols = df.select_dtypes(include=['float64']).columns
for col in float_cols:
    df[col] = pd.to_numeric(df[col], downcast='float')

print("\n--- Memory Usage After Numeric Downcasting ---")
df.info(memory_usage='deep')# Downcast integer columns
int_cols = df.select_dtypes(include=['int64']).columns
for col in int_cols:
    df[col] = pd.to_numeric(df[col], downcast='integer')

# Downcast float columns
float_cols = df.select_dtypes(include=['float64']).columns
for col in float_cols:
    df[col] = pd.to_numeric(df[col], downcast='float')

print("\n--- Memory Usage After Numeric Downcasting ---")
df.info(memory_usage='deep')

--- Memory Usage After Numeric Downcasting ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          868489 non-null  category
 9   PLZ_SO                        868489 non-null  category
 10  PLZ_HW                        868489 non-null  category
 11  PLZ_VN                        868489 non-null  category
 12  address1_postalcode           682089 non-null  category
 13  Schadenart_Name               868489 non-null  category
 14  Falltyp_Name                  868489 non-null  category
 15  Gewerk_Name                   868489 non-null  category
 16  Kundengruppe                  868489 non-null  category
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  category
dtypes: category(10), float64(4), int8(1), object(4)
memory usage: 347.9 MB

--- Memory Usage After Numeric Downcasting ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          868489 non-null  category
 9   PLZ_SO                        868489 non-null  category
 10  PLZ_HW                        868489 non-null  category
 11  PLZ_VN                        868489 non-null  category
 12  address1_postalcode           682089 non-null  category
 13  Schadenart_Name               868489 non-null  category
 14  Falltyp_Name                  868489 non-null  category
 15  Gewerk_Name                   868489 non-null  category
 16  Kundengruppe                  868489 non-null  category
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  category
dtypes: category(10), float64(4), int8(1), object(4)
memory usage: 347.9 MB

In [22]:
df.replace('-', None, inplace=True)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          728837 non-null  category
 9   PLZ_SO                        728837 non-null  category
 10  PLZ_HW                        757300 non-null  category
 11  PLZ_VN                        362717 non-null  category
 12  address1_postalcode           682089 non-null  category
 13  Schadenart_Name               868488 non-null  category
 14  Falltyp_Name                  855504 non-null  category
 15  Gewerk_Name                   868489 non-null  category
 16  Kundengruppe                  868489 non-null  category
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868329 non-null  category
dtypes: category(10), float64(4), int8(1), object(4)
memory usage: 347.9 MB