In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("C:/Users/paulh/Desktop/projects/AAD/analytics-application-development-uni/Auftragsdaten.parquet")

In [3]:
df.dtypes

Auftrag_ID                       object
Schadensnummer                   object
KvaRechnung_ID                   object
KvaRechnung_Nummer               object
Forderung_Netto                 float64
Empfehlung_Netto                float64
Einigung_Netto                  float64
DH_ID                             int64
Land                             object
PLZ_SO                           object
PLZ_HW                           object
PLZ_VN                           object
address1_postalcode              object
Schadenart_Name                  object
Falltyp_Name                     object
Gewerk_Name                      object
Kundengruppe                     object
Differenz_vor_Zeitwert_Netto    float64
Handwerker_Name                  object
dtype: object

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  object
 1   Schadensnummer                868489 non-null  object
 2   KvaRechnung_ID                868489 non-null  object
 3   KvaRechnung_Nummer            868489 non-null  object
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int64
 8   Land                          868489 non-null  object
 9   PLZ_SO                        868489 non-null  object
 10  PLZ_HW                        868489 non-null  object
 11  PLZ_VN                        868489 non-null  object
 12  address1_postalcode           682089 non-null  object
 13  Schadenart_Name               868489 non-null  object
 14  Falltyp_Name                  868489 non-null  object
 15  Gewerk_Name                   868489 non-null  object
 16  Kundengruppe                  868489 non-null  object
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 888.2 MB

In [5]:
# 1. Finde die Spalten, die vom Typ 'object' sind
object_columns = df.select_dtypes('object').columns

# 2. Wende .astype() nur auf diese Spalten an
df[object_columns] = df[object_columns].astype('string')

In [6]:
df.dtypes

Auftrag_ID                      string[python]
Schadensnummer                  string[python]
KvaRechnung_ID                  string[python]
KvaRechnung_Nummer              string[python]
Forderung_Netto                        float64
Empfehlung_Netto                       float64
Einigung_Netto                         float64
DH_ID                                    int64
Land                            string[python]
PLZ_SO                          string[python]
PLZ_HW                          string[python]
PLZ_VN                          string[python]
address1_postalcode             string[python]
Schadenart_Name                 string[python]
Falltyp_Name                    string[python]
Gewerk_Name                     string[python]
Kundengruppe                    string[python]
Differenz_vor_Zeitwert_Netto           float64
Handwerker_Name                 string[python]
dtype: object

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  string
 1   Schadensnummer                868489 non-null  string
 2   KvaRechnung_ID                868489 non-null  string
 3   KvaRechnung_Nummer            868489 non-null  string
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int64
 8   Land                          868489 non-null  string
 9   PLZ_SO                        868489 non-null  string
 10  PLZ_HW                        868489 non-null  string
 11  PLZ_VN                        868489 non-null  string
 12  address1_postalcode           682089 non-null  string
 13  Schadenart_Name               868489 non-null  string
 14  Falltyp_Name                  868489 non-null  string
 15  Gewerk_Name                   868489 non-null  string
 16  Kundengruppe                  868489 non-null  string
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  string
dtypes: float64(4), int64(1), string(14)
memory usage: 895.3 MB

In [8]:
# Downcast integer columns
int_cols = df.select_dtypes(include=['int64']).columns
for col in int_cols:
    df[col] = pd.to_numeric(df[col], downcast='integer')

# Downcast float columns
float_cols = df.select_dtypes(include=['float64']).columns
for col in float_cols:
    df[col] = pd.to_numeric(df[col], downcast='float')

print("\n--- Memory Usage After Numeric Downcasting ---")
df.info(memory_usage='deep')# Downcast integer columns
int_cols = df.select_dtypes(include=['int64']).columns
for col in int_cols:
    df[col] = pd.to_numeric(df[col], downcast='integer')

# Downcast float columns
float_cols = df.select_dtypes(include=['float64']).columns
for col in float_cols:
    df[col] = pd.to_numeric(df[col], downcast='float')

print("\n--- Memory Usage After Numeric Downcasting ---")
df.info(memory_usage='deep')

--- Memory Usage After Numeric Downcasting ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  string
 1   Schadensnummer                868489 non-null  string
 2   KvaRechnung_ID                868489 non-null  string
 3   KvaRechnung_Nummer            868489 non-null  string
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          868489 non-null  string
 9   PLZ_SO                        868489 non-null  string
 10  PLZ_HW                        868489 non-null  string
 11  PLZ_VN                        868489 non-null  string
 12  address1_postalcode           682089 non-null  string
 13  Schadenart_Name               868489 non-null  string
 14  Falltyp_Name                  868489 non-null  string
 15  Gewerk_Name                   868489 non-null  string
 16  Kundengruppe                  868489 non-null  string
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  string
dtypes: float64(4), int8(1), string(14)
memory usage: 889.5 MB

--- Memory Usage After Numeric Downcasting ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  string
 1   Schadensnummer                868489 non-null  string
 2   KvaRechnung_ID                868489 non-null  string
 3   KvaRechnung_Nummer            868489 non-null  string
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          868489 non-null  string
 9   PLZ_SO                        868489 non-null  string
 10  PLZ_HW                        868489 non-null  string
 11  PLZ_VN                        868489 non-null  string
 12  address1_postalcode           682089 non-null  string
 13  Schadenart_Name               868489 non-null  string
 14  Falltyp_Name                  868489 non-null  string
 15  Gewerk_Name                   868489 non-null  string
 16  Kundengruppe                  868489 non-null  string
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868489 non-null  string
dtypes: float64(4), int8(1), string(14)
memory usage: 889.5 MB

In [9]:
df.replace('-', None, inplace=True)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868489 entries, 0 to 868488
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Auftrag_ID                    868489 non-null  string
 1   Schadensnummer                868489 non-null  string
 2   KvaRechnung_ID                868489 non-null  string
 3   KvaRechnung_Nummer            868489 non-null  string
 4   Forderung_Netto               868489 non-null  float64
 5   Empfehlung_Netto              868489 non-null  float64
 6   Einigung_Netto                868489 non-null  float64
 7   DH_ID                         868489 non-null  int8
 8   Land                          728837 non-null  string
 9   PLZ_SO                        728837 non-null  string
 10  PLZ_HW                        757300 non-null  string
 11  PLZ_VN                        362717 non-null  string
 12  address1_postalcode           682089 non-null  string
 13  Schadenart_Name               868488 non-null  string
 14  Falltyp_Name                  855504 non-null  string
 15  Gewerk_Name                   868489 non-null  string
 16  Kundengruppe                  868489 non-null  string
 17  Differenz_vor_Zeitwert_Netto  868489 non-null  float64
 18  Handwerker_Name               868329 non-null  string
dtypes: float64(4), int8(1), string(14)
memory usage: 894.7 MB